---
# Shared cluster defaults
k3s_server_url: "https://{{ k3s_server_endpoint_ip }}:6443"
k3s_flannel_iface_default: enp7s0
k3s_extra_tls_sans: []
k3s_disable_default_registry_endpoint: true
k3s_server_disable_components:
  - traefik
  - servicelb

registry_mirror_endpoint: "http://{{ registry_ip }}:{{ registry_port }}"
registry_host_fqdn: "{{ registry_host_alias }}:{{ registry_port }}"

# Firewall defaults
firewall_block_smtp: true
firewall_block_metadata: true

# Helm chart versions (pin where practical)
traefik_chart_ref: traefik/traefik
cert_manager_chart_ref: jetstack/cert-manager
loki_chart_ref: grafana/loki
promtail_chart_ref: grafana/promtail
prometheus_chart_ref: prometheus-community/kube-prometheus-stack
grafana_chart_ref: grafana/grafana

# Helm release names
traefik_release_name: traefik
cert_manager_release_name: cert-manager
loki_release_name: loki
promtail_release_name: promtail
prometheus_release_name: prometheus
grafana_release_name: grafana

# Cloudflare load balancer defaults (playbooks/cloudflare-lb.yml)
cloudflare_lb_hostnames:
  - "*.{{ apps_domain }}"
  - "grafana.{{ apps_domain }}"
  - "loki.{{ apps_domain }}"
cloudflare_lb_monitor_path: /
cloudflare_lb_monitor_port: 443
cloudflare_lb_monitor_expected_codes: "200,301,302,401,403,404"
cloudflare_lb_monitor_interval: 60
cloudflare_lb_monitor_timeout: 5
